@import url('https://fonts.googleapis.com/css?family=Nunito|Open+Sans&display=swap');

/* ==========================================================================
   General
   ========================================================================== */
html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: #555;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Nunito', sans-serif;
}

a {
    color: #555;
}

a, a:hover {
    text-decoration: none;
}

img{
    max-width: 100%;
}

/* ==========================================================================
   Header & Navigation
   ========================================================================== */

.site-title{
    padding: 40px 0;
}

.site-title a{
    font-size: 42px;
}

#navbarNav {
    border-top: 2px solid #222;
    border-bottom: 1px solid #222;
}

#navbarNav a {
    color: #222;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    padding: 25px 19px;
}
/* ==========================================================================
   Content Area
   ========================================================================== */
#content {
    margin-top: 40px;
}

/* ==========================================================================
   Blog Post Area
   ========================================================================== */
#content #blog-post {
    box-sizing: border-box;
    border: 2px solid #f4f4f4;
    padding: 20px;
    margin-bottom: 40px;
}

.featured-image img {
    width: 100%;
    box-shadow: 0 3px 12px -1px rgba(7,10,25,.2),0 22px 27px -20px rgba(7,10,25,.2);
    transition: all .3s ease;
}

.featured-image:hover img {
    opacity: 1;
    box-shadow: 0 15px 45px -5px rgba(7,10,25,.25);
    -webkit-filter: brightness(1.07);
    filter: brightness(1.07);
    transform: translate(0,-2px);
}

#content #blog-post .title h2 {
    color: #222;
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0;
    line-height: 24px;
    transition: all 500ms ease;
}

#content #blog-post .footer-meta {
    border-top: 2px solid #f4f4f4;
    padding-top: 20px;
    text-transform: lowercase;
}

#content #blog-post .footer-meta div,
#content #blog-post .footer-meta a {
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
}

#content #blog-post .footer-meta div,
#content #blog-post .footer-meta div i,
#content #blog-post .footer-meta div a{
    color: #555;
}

#content #blog-post .footer-meta div:hover,
#content #blog-post .footer-meta div:hover i,
#content #blog-post .footer-meta div a:hover,
#content #blog-post .title h2:hover{
    color: #3f57c4;
}

#content #blog-post .footer-meta i {
    margin-right: 5px;
}

#content #blog-post .footer-meta div {
    display: inline;
    margin-right: 20px;
}

/* ==========================================================================
   Single Post Area
   ========================================================================== */
#content #single-post {
    box-sizing: border-box;
    border: 2px solid #f4f4f4;
    margin-bottom: 40px;
    padding: 20px;
}

#content #single-post .entry-header {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #f4f4f4;
}

#content #single-post .entry-header .title h2 {
    color: #222;
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0;
    line-height: 24px;
    transition: all 500ms ease;
}

#content #single-post .content{
    margin-top: 20px;
}

#content #single-post .entry-header .header-meta div {
    display: inline;
    text-transform: lowercase;
}

#content #single-post .entry-footer {
    clear: both;
}

#content #single-post .entry-header .header-meta .author a {
    color: #222;
}

#content #single-post .entry-header .header-meta .author a:hover {
    color: #3f57c4;
}


/* ==========================================================================
   Sidebar
   ========================================================================== */
#sidebar .widget-wrapper{
    margin-bottom: 40px;
}

#sidebar .widget-wrapper .widget-title{
    color: #222;
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 20px;
}

#sidebar .widget-wrapper ul{
    padding-left: 20px;
}

#sidebar .widget-wrapper ul li {
    list-style: none;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#sidebar .widget-wrapper ul li a {
    text-transform: capitalize;
    font-weight: 600;
}

#sidebar .widget-wrapper ul li.cat-item a{
    font-weight: 300;
}

#sidebar .widget-wrapper ul li.cat-item a:before {
    content: "\f07b";
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
    margin-right: 10px;
    font-weight: 600;
}

#sidebar .widget-wrapper ul li span.post-date {
    display: block;
    font-size: 12px;
    margin-left: 15px;
}

#sidebar .widget-wrapper .tagcloud a {
    border: 1px solid #f0f0f0;
    display: inline-block;
    font-weight: 300;
    padding: 4px 10px 4px;
    transition: all 500ms ease 0s;
    margin: 0 3px 10px;
}

#sidebar .widget-wrapper .tagcloud a:hover {
    background: #3f57c4;
    border-color: #3f57c4;
    color: #fff;
}

/* ==========================================================================
   Pagination
   ========================================================================== */
#pagination{
    margin-bottom: 40px;
}

#pagination .pagination {
    justify-content: center;
    margin: 0;
}

#pagination .pagination li {
    display: inline-block;
    margin: 0 3px;
    text-align: center;
}

#pagination .pagination li:hover a{
    background: #233588;
    color: #fff;
    border: 2px solid #233588;
}

#pagination .pagination li a {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #e7e7e7;
    color: #848484;
    display: block;
    font-size: 20px;
    font-weight: 600;
    height: 55px;
    padding: 13px 0;
    transition: all 500ms ease 0s;
    width: 55px;
    border-radius: 3px;
}

#pagination .pagination li a:hover{
    z-index: 2;
}
/* ==========================================================================
   Footer
   ========================================================================== */
#footer {
    background-color: #303443;
}

#footer ul {
    margin-bottom: 0;
}

#footer ul li {
    display: inline-block;
}

#footer, #footer a:hover {
    color: #c1c2c7;
    font-size: 14px;
}

#footer a {
    color: #fff;
}

#footer .footer-menu {
    text-align: right;
}

#footer .copyright, #footer .nav-link {
    padding-top: 20px;
    padding-bottom: 20px;
}
